<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

    {% set isAdmin = is_granted('ROLE_ADMIN') %}
		{% set isOtherRole = is_granted('ROLE_USER') or is_granted('ROLE_PATIENT_ADMIN') %}



      <a href="index.html" class="logo d-flex align-items-center me-auto">
      
        <h1 class="sitename" style="color: #0fb706; font-style: italic; font-family: cursive;"> Beocler</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Accueil</a></li>
          <li><a href="#about">A propos</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="dropdown-container">
      <a class="btn-inscrir" href="#">Espace proffessionnel</a>
      {% if app.user %}
						{% if app.user.getIsVerified() and app.user.getInscriptionStatus() == 'valide' %}
              <ul class="dropdown-menu">
                <li><a href="{{ path('users_index') }}">Mon compte</a></li>
                <li><a href="{{ path('app_logout') }}">Deconnecter</a></li>
              </ul>
            {% else %}
              <ul class="dropdown-menu">
                <li><a href="{{ path('app_logout') }}">Deconnecter</a></li>
              </ul>
            {% endif %}
      {% else %}
            <ul class="dropdown-menu">
              <li><a href="/login">Connexion</a></li>
              <li><a href="/register">Inscription</a></li>
            </ul>
      {% endif %}

      </div>

    </div>
  </header>


					
