
/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; 
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #556270; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #0fb706; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #556270;  /* The default color of the main navmenu links */
  --nav-hover-color: #0fb706; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #556270; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0fb706; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f2f4f6;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #3b4654;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #444e5b;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 28px;
  font-weight: 300;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent-color);
  margin: 4px 10px;
}

.section-title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  padding: 0;
}

.hero .carousel {
  width: 100%;
  min-height: calc(85vh - 75px);
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  position: relative;
}

@media (max-width: 1200px) {
  .hero .carousel {
    min-height: calc(100vh - 66px);
  }
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero .carousel-item:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.hero h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 30px;
  }
}

.hero p {
  animation: fadeInDown 1s both 0.2s;
}

@media (min-width: 1024px) {

  .hero h2,
  .hero p {
    max-width: 60%;
  }
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 4px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  width: 10%;
  transition: 0.3s;
  opacity: 0.5;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

@media (min-width: 1024px) {

  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  font-size: 32px;
  line-height: 1;
}

.hero .carousel-indicators {
  list-style: none;
}

.hero .carousel-indicators li {
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
  background-color: var(--surface-color);
  padding: 30px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  transition: 0.3s;
}

.services .service-item .icon {
  font-size: 36px;
  line-height: 0;
  margin-right: 30px;
  color: var(--accent-color);
}

.services .service-item .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.services .service-item .title a {
  color: var(--heading-color);
}

.services .service-item .description {
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.services .service-item:hover {
  border-color: var(--accent-color);
}

.services .service-item:hover .title a {
  color: var(--accent-color);
}


/*--------------------------------------------------------------
# About 2 Section
--------------------------------------------------------------*/
.about-2 .about-img {
  position: relative;
  margin: 60px 0 0 60px;
  box-shadow: -0.5px 0.5px #0fb706, -1em 0 .4em #0fb706;
}

.about-2 .about-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  content: "";
  background-repeat: no-repeat;
  z-index: 1;
}

.about-2 .about-img img {
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .about-2 .about-img {
    margin: 30px 0 0 30px;
  }

  .about-2 .about-img:before {
    inset: -30px 0 0 -30px;
  }
}

.about-2 h3 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about-2 h3 {
    font-size: 28px;
  }
}

.about-2 .nav-pills {
  border-bottom: 1px solid color-mix(in srgb, #0fb706, transparent 85%);
}

.about-2 .nav-pills li+li {
  margin-left: 40px;
}

.about-2 .nav-link {
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  padding: 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
}

.about-2 .nav-link.active {
  color: #0fb706;
  background: none;
  border-bottom: 3px solid #0fb706;
}

@media (max-width: 575px) {
  .about-2 .nav-link {
    font-size: 16px;
  }
}

.about-2 .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #0fb706;
}

.about-2 .tab-content i {
  font-size: 22px;
  line-height: 0;
  margin-right: 8px;
  color: #0fb706;
}




.page-link {
  color: #0fb706 !important;
}

.active>.page-link,
.page-link.active {
  background-color: #0fb706 !important;
  border-color: #0fb706 !important;
  color: #ffffff !important;

}

.shadow-2-strong{
  border-radius: 1rem;  box-shadow: 6px 6px 25px rgba(0.5, 0.5, 0.5, 0.5);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #f8f9fa;
  padding-top: 1rem;
  border-right: 1px solid #dee2e6;
}


@media (max-width: 768px) {
  #sidebar {
      position: relative;
      height: auto;
      top: 0;
      width: 100%;
  }

}
